.contact{
  @extend %align-items;
  margin-left: auto;
  
  font-weight: 500;
  letter-spacing: 0.02em;  
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  @extend %align-items;
  padding-top: 32px;
  padding-bottom: 32px;
    
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-primary-text-color);
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

