.hero {
    max-width: 1600px;
    height: 600px;

    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--hero-bc-color);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url('../images/hero/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin-top: 0;
    margin-bottom: var(--typical-gap);

    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.hero__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
}