.logo {
    color: var(--accent-primary-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header__logo {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo__studio {
    color: var(--primary-black-color);
}

.logo__studio--white {
    color: var(--primary-white-color);
}