.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-bc-color);
}

.team__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: calc(-1* var(--typical-gap));
    margin-left: calc(-1 * var(--typical-gap));
}

.team-list__item {
    flex-basis: calc(100% / 4 - var(--typical-gap));

    margin-top: var(--typical-gap);
    margin-left: var(--typical-gap);
}